.header{
  max-width: 99%;
  padding: 65px 0 65px 0;
  background-color: #edeff1;
}
.wrapper-header{
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.navigation{
  ul {
    display: flex;
    li{
      margin-right: 45px;
      font-size: 18px;
      font-family: 'Roboto Slab', serif;
      font-weight: 400;
      &:last-child{
        margin-right: none;
      }
      &:active{
        background-color: #dd4b2b;
        color: white;
        border-radius: 100px;
        padding: 18px;
      }
      a{
        color: #31353e;
        text-decoration: none;
      }
    }
  }
}

